{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
 
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'guitar/css/main.css' %}" />
    <!-- Favicon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{% static 'favicons/apple-touch-icon.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{% static 'favicons/favicon-32x32.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{% static 'favicons/favicon-16x16.png' %}"
    />
    <link rel="manifest" href="favicons/site.webmanifest" />
    <link
      rel="mask-icon"
      href="{% static 'favicons/safari-pinned-tab.svg' %}"
      color="#5bbad5"
    />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <!-- Favicon -->
    <title>Guitarsite</title>
    <script
      src="https://kit.fontawesome.com/5f15bd9488.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="page">
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'index'%}">
            <img src="{% static 'img/logo/1.webp' %}" alt="Logo" class="d-inline-block align-text-center">
            Guitarsite
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Переключатель навигации"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 top-menu">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}"></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'songs' %}">Песни</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'add_song' %}">Добавление песни</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'chords'%}">Аппликатуры аккордов</a>
              </li>
              {% if user.is_authenticated %}
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  data-bs-toggle="dropdown"
                  href="#"
                  ><i class="fa-regular fa-user fa-lg"></i
                ></a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'users:profile'%}">{{ user.username }}|Личный кабинет</a></li>
                  <li><a class="dropdown-item" href="{% url 'users:logout'%}">Выйти</a></li>
                </ul>
              </li>
              {% else%}
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  data-bs-toggle="dropdown"
                  href="#"
                  ><i class="fa-regular fa-user fa-lg"></i
                ></a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'users:register' %}">Регистрация</a></li>
                  <li><a class="dropdown-item" href="{% url 'users:login'%}">Авторизация</a></li>
                </ul>
              </li>
              {% endif %}
              {% if user.is_authenticated %}
              <li class="nav-item">
                <a
                  class="nav-link"
                  href="#"
                  data-bs-toggle="modal"
                  data-bs-target="#modal-gituar"
                  ><i class="fa-solid fa-guitar fa-lg"></i
                ></a>
                <div
                  class="modal fade"
                  id="modal-gituar"
                  tabindex="-1"
                  aria-labelledby="exampleModalLabel"
                  aria-hidden="true"
                >
                  <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                      <div
                        class="modal-header bg-warning-subtle text-warning-emphasis"
                      >
                        <h1 class="modal-title fs-5" id="exampleModalLabel">
                          Избранное
                        </h1>
                      </div>
                      <div class="modal-body">
                        <table>
                          <caption>
                            Это пример таблицы, а это ее заголовок для описания
                            содержимого.
                          </caption>
                          <thead>
                            <tr>
                              <th>Заголовок таблицы</th>
                              <th>Заголовок таблицы</th>
                              <th>Заголовок таблицы</th>
                              <th>Заголовок таблицы</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>Ячейка таблицы</td>
                              <td>Ячейка таблицы</td>
                              <td>Ячейка таблицы</td>
                              <td>Ячейка таблицы</td>
                            </tr>
                            <tr>
                              <td>Ячейка таблицы</td>
                              <td>Ячейка таблицы</td>
                              <td>Ячейка таблицы</td>
                              <td>Ячейка таблицы</td>
                            </tr>
                            <tr>
                              <td>Ячейка таблицы</td>
                              <td>Ячейка таблицы</td>
                              <td>Ячейка таблицы</td>
                              <td>Ячейка таблицы</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="modal-footer">
                        <button
                          type="button"
                          class="btn btn-secondary"
                          data-bs-dismiss="modal"
                        >
                          Закрыть
                        </button>
                        <button type="button" class="btn btn-primary">
                          Сохранить изменения
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              {% endif %}
            </ul>
            <form class="d-flex" role="search">
              <input
                class="form-control me-2"
                type="search"
                placeholder="Поиск"
                aria-label="Поиск"
              />
              <button class="btn btn-outline-success" type="submit">
                <i class="fa-solid fa-magnifying-glass"></i>
              </button>
            </form>
          </div>
        </div>
      </nav>
      {% block content%} {% block pagination%} {% endblock pagination%}{% endblock content%}
      
      <footer>
        <section class="footer">
          <div class="conteiner">
            <div class="row">
              <div class="col-md-3 col-6">
                <ul class="list-unstyled">
                  <li><h4>Info</h4></li>
                  <li><a href="#">Главная</a></li>
                  <li><a href="#">О проекте</a></li>
                  <li><a href="#">Контакты</a></li>
                </ul>
              </div>
              <div class="col-md-3 col-6">
                <ul class="list-unstyled">
                  <li><h4>Обратная связь</h4></li>
                  <li><a href="{% url 'contact' %}"><li>Напишите нам</li></a></li>

                </ul>
              </div>
              <div class="col-md-3 col-6">
                <ul class="list-unstyled">
                  <li><h4>Контакты</h4></li>
                  <li><a href="tel: 5513561557536">5513-5615-57-536</a></li>
                </ul>
              </div>
              <div class="col-md-3 col-6">
                <h4>Я в сети</h4>
                <div class="footer-icons">
                  <a href="#"><i class="fa-brands fa-instagram"></i></a>
                  <a href="#"><i class="fa-brands fa-vk"></i></a>
                  <a href="#"><i class="fa-brands fa-telegram"></i></a>
                </div>
              </div>
            </div>
          </div>
        </section>
      </footer>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  
    </div>
  </body>
</html>
