{% extends 'base-form.html' %} {% load static %} {% block form-content %}
<form action="" method="POST", enctype="multipart/form-data">
  {% csrf_token %}

  {% if user.photo %}
      <p><img src="{{ user.photo.url }}"></p>
  {% else %}
      <p><img src="{{ default_image }}"></p>
  {% endif %}
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="form-error">{{ form.non_field_errors }}</div>
      {% for field in form%}
      <div class="col-8">
        
        <div class="form-floating mb-3">
          {{ field }}
          <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
        </div>
        
      </div>
      <div class="form-error">{{ field.errors }}</div>
      {% endfor %}
    </div>
  </div>

  <p><button type="submit" class="btn btn-success">Сохранить</button></p>
  
</form>
<p><a href="{% url 'users:user_password_change'%}">Изменить пароль</a></p>

{% endblock form-content %}

