{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container-lg text-center">
  <div class="row">
    <div class="col">
      <h1>О нас</h1>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae corporis
      dignissimos dolorum eligendi error facilis fugiat necessitatibus
      perferendis quis, sapiente totam veniam veritatis? Beatae, omnis
      quibusdam! Cum dolorem eveniet vero. Lorem ipsum dolor sit amet,
      consectetur adipisicing elit. Beatae corporis dignissimos dolorum eligendi
      error facilis fugiat necessitatibus perferendis quis, sapiente totam
      veniam veritatis? Beatae, omnis quibusdam! Cum dolorem eveniet vero. Lorem
      ipsum dolor sit amet, consectetur adipisicing elit. Beatae corporis
      dignissimos dolorum eligendi error facilis fugiat necessitatibus
      perferendis quis, sapiente totam veniam veritatis? Beatae, omnis
      quibusdam! Cum dolorem eveniet vero. Lorem ipsum dolor sit amet,
      consectetur adipisicing elit. Beatae corporis dignissimos dolorum eligendi
      error facilis fugiat necessitatibus perferendis quis, sapiente totam
      veniam veritatis? Beatae, omnis quibusdam! Cum dolorem eveniet vero.
    </div>
  </div>
</div>

{% endblock content%}
