{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>О нас</h1>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae corporis dignissimos dolorum eligendi error facilis fugiat necessitatibus perferendis quis, sapiente totam veniam veritatis? Beatae, omnis quibusdam! Cum dolorem eveniet vero.
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae corporis dignissimos dolorum eligendi error facilis fugiat necessitatibus perferendis quis, sapiente totam veniam veritatis? Beatae, omnis quibusdam! Cum dolorem eveniet vero.
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae corporis dignissimos dolorum eligendi error facilis fugiat necessitatibus perferendis quis, sapiente totam veniam veritatis? Beatae, omnis quibusdam! Cum dolorem eveniet vero.
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae corporis dignissimos dolorum eligendi error facilis fugiat necessitatibus perferendis quis, sapiente totam veniam veritatis? Beatae, omnis quibusdam! Cum dolorem eveniet vero.

{% endblock content%}