{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container ">
  <div class="form-add-song">
    <form action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {% if add %}
        {{ form.as_p}}
        <p><button type="submit">Отправить</button></p>
      {% endif %}
      {% if update %}
        {{ form.as_p}}
        <p><button type="submit">Обновить</button></p>
      {% endif %}
      {% if delete %}
        <p>Удаляемая запись: "{{ object }}"</p>
        {{ form.as_p}}
        <p><button type="submit">Удалить</button></p>
      {% endif %}

    </form>
  </div>

  
</div>

{% endblock content%}
