{% extends 'base.html' %} {% load static %} {% block content %}
<div class="nav-on-allsongs">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'songs' %}">Все песни</a>
    </li>
    <li class="nav-item dropdown">
      <a
        class="nav-link dropdown-toggle"
        data-bs-toggle="dropdown"
        href="#"
        role="button"
        aria-expanded="false"
        >
        {% if difficult %}
          {{ difficult.name }}
        {% else %}
          Сложность
        {% endif%}
      </a>
      <ul class="dropdown-menu">
        {% for dif in difficults %}
        <li>
          <a
            class="dropdown-item text-center"
            href="{{ dif.get_absolute_url }}"
          >
            {{ dif.name }}
          </a>
        </li>

        {% endfor %}
      </ul>
    </li>
    <li class="nav-item dropdown">
      <a
        class="nav-link dropdown-toggle"
        data-bs-toggle="dropdown"
        href="#"
        role="button"
        aria-expanded="false"
        >
        {% if author%}
          {{ author.name }}
        {% else %}
          Автор
        {% endif%}
      </a>
      <ul class="dropdown-menu">
        {% for author in authors %}
        <li>

          <a
            class="dropdown-item text-center"
            href="{{ author.get_absolute_url }}"
          >
            {{ author.name}}
          </a>

        </li>

        {% endfor %}

      </ul>
    </li>
  </ul>
</div>
{% include "guitar/includes/card_display.html"%}

{% block pagination%}
{% if page_obj.has_other_pages%}
  <nav aria-label="Пример навигации по страницам">
    <ul class="pagination pagination-lg justify-content-center">
      {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.previous_page_number}}" aria-label="Предыдущая">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
      {% endif %}
      {% for p in paginator.page_range%}
        {% if page_obj.number == p %}
          <li class="page-item active"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
        {% elif p <= page_obj.number|add:2 and  p >= page_obj.number|add:-2 %}
          <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
        {% endif %}
      {% endfor %}
      {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.next_page_number}}" aria-label="Следующая">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      {% endif%}
    </ul>
  </nav>
{% endif %}
{% endblock pagination%}
{% endblock content%}
