{% extends 'base.html' %} {% load static %} {% block content %}
<div class="nav-on-allsings">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'sings' %}">Все песни</a>
    </li>
    <li class="nav-item dropdown">
      <a
        class="nav-link dropdown-toggle"
        data-bs-toggle="dropdown"
        href="#"
        role="button"
        aria-expanded="false"
        >
        {% if difficult%}
          {{ difficult.name }}
        {% else %}
          Сложность
        {% endif%}
      </a>
      <ul class="dropdown-menu">
        {% for dif in difficults %}
        <li>
          <a
            class="dropdown-item text-center"
            href="{{ dif.get_absolute_url }}"
          >
            {{ dif.name}}
          </a>
        </li>

        {% endfor %}
      </ul>
    </li>
    <li class="nav-item dropdown">
      <a
        class="nav-link dropdown-toggle"
        data-bs-toggle="dropdown"
        href="#"
        role="button"
        aria-expanded="false"
        >{% if author%} {{ author.name }} {% else %} Автор {% endif%}
      </a>
      <ul class="dropdown-menu">
        {% for author in authors %}
        <li>

          <a
            class="dropdown-item text-center"
            href="{{ author.get_absolute_url }}"
          >
            {{ author.name}}
          </a>

        </li>

        {% endfor %}

      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Аккорды</a>
    </li>
  </ul>
</div>
{% include "guitar/includes/card_display.html"%} {% endblock content%}
