{% extends 'base.html' %} {% load static %} {% block content %}

<div class="container-lg">
  <div class="row">
    <div class="col-6">
      <h1>{{sing.author}}-{{ sing.title}}</h1>
      <pre>{{ sing.content }}</pre>
    </div>
    <div class="col-6">
      <h1>Аккорды</h1>
      {% with sing.chords.all as chords%}
        {% if chords%}
          {% for chord in chords%}
            <p>{{chord.name}}</p>
          {% endfor %}
        {% endif %}
      {% endwith %}
    </div>
  </div>
</div>

{% endblock content%}
