{% extends 'base.html' %} {% load static %} {% block content %}
<style>
</style>
<div class="container-lg">
  <div class="row">
    <div class="col-6">
      <h1>{{song.author}}-{{ song.title}}</h1>
      <pre>{{ song.content }}</pre>
    </div>
    <div class="col-6">
      {% if song.user_author%}
        <a class="nav-link" href="{% url 'user_songs' user_author_id=song.user_author.id %}"><h1>Добавил:{{song.user_author.username}}</h1></a>
      {% else %}
        <h1>Добавил: Неизвсетный автор</h1>
      {% endif %}
      <h1>Аккорды</h1>
      {% with song.chords.all as chords%}
        {% if chords%}
          {% for chord in chords%}
            <p>{{chord.name}}</p>
          {% endfor %}
        {% endif %}
      {% endwith %}
    </div>
  </div>
</div>

{% endblock content%}
