{% extends 'base.html' %} {% load static %} {% block content %}
<style></style>
<div class="container-lg">
  <div class="row">
    <div class="col-6">
      <h1>{{song.author}}-{{ song.title}}</h1>
      <pre>{{ song.content }}</pre>
    </div>
    <div class="col-6">
      {% if song.user_author%}
      <a
        class="nav-link"
        href="{% url 'user_songs' user_author_id=song.user_author.id %}"
        ><h1>Добавил:{{song.user_author.username}}</h1></a
      >
      {% else %}
      <h1>Добавил: Неизвсетный автор</h1>
      {% endif %}
      
      {% with song.chords.all as chords%}
      {% if chords%}

      <div class="container">
        <div class="row">
          <h1 class="text-center">Аккорды</h1>
          {% for chord in chords%}
          <div class="col-6">
            <div class="card cord-card text-center">
              <div class="card-body">
                <h5 class="card-title">{{ chord.designation }}</h5>
                {% if chord.chord_image %}
                <img
                  src="{{ chord.chord_image.url }}"
                  class="card-img-center"
                  alt="аккорды"
                />
                {% endif %}
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>

      {% endif %} {% endwith %}
    </div>
  </div>
</div>

{% endblock content%}
